
# Ensure GitHub Actions workflows are checked out as LF and without weird conversions
.github/workflows/*.yml text eol=lf

# GitHub Actions workflows must be clean LF
.github/workflows/*.yml text eol=lf
